<template>
    <section class="cards-on-timeline">
        <AppNav />
        <Timeline :start_date="2001" :end_date="2024" :dates="['2007', '2013']"/>
    </section>
</template>

<script lang="ts" setup>
import AppNav from '@/components/AppNav.vue'
import Timeline from '@/components/Timeline.vue';
</script>

<style lang="scss" scoped>

</style>