<template>
    <header class="start-cards-on-timeline">
        <AppNav />

        <h1 class="title">Знаковые события РПЛ</h1>
        <AppButton @click="$router.push({name: 'cards_on_timeline'})">Играть</AppButton>
        
        <img class="ball" src="@/assets/img/мяч.png" alt="большой мяч">
    </header>
</template>

<script lang="ts" setup>
import AppNav from '@/components/AppNav.vue'

import AppButton from '@/components/AppButton.vue';

</script>

<style lang="scss" scoped>


.title {
    font-size: 100px;
    font-weight: 600;
    line-height: 90px;
    text-align: left;
    max-width: 765px;
    margin-bottom: 80px;
}
.ball {
    position: absolute;
    top: -200px;
    right: -800px;
    z-index: -1;
}
.light {
    max-width: 500px;
}


@media (width < 1000px) {
    .title {
        font-size: 67px;
    } 
}
@media (width < 490px) {
    .title {
        font-size: 30px;
        line-height: 1.2;
    }
}
</style>