<template>
    <button class="app-button">
        <slot></slot>
    </button>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>
.app-button {
    background: linear-gradient(95.79deg, #FF6A14 6.45%, #F8894B 59.94%, #F77255 94.09%);
    font-size: 25px;
    line-height: 25px;
    border-radius: 35px;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
}
</style>