<template>
    <nav class="app-nav">
        <div class="logo">
            <img class="logo__icon" src="@/assets/img/icons/winline.png" alt="иконка winline">
            <div class="logo__dividing-symbol">х</div>
            <SportsSVG />
        </div>

        <SoundButton />
    </nav>
</template>

<script lang="ts" setup>
import SportsSVG from '@/assets/svg/icons/sports.svg'
import SoundButton from '@/components/SoundButton.vue'
</script>

<style lang="scss" scoped>
.logo {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    &__icon {
        max-height: 25px;
    }
    &__dividing-symbol {
        align-self: center;
    }
}
.app-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

}
@media (width < 1000px) {
    .app-nav {
        justify-content: center;
        margin-bottom: 40px;
    }
    .sound-button {
        display: none;
    }
}
</style>