<template>
    <div class="sound-button">
        <SoundSVG class="sound__icon"/>
    </div>
</template>

<script setup>
import SoundSVG from '@/assets/svg/icons/sound.svg'
</script>

<style lang="scss" scoped>
.sound-button {
    display: flex;
    align-items: center;
    max-height: 30px;
    cursor: pointer;
    margin-right: -30px;
}
// .sound-button {
//     max-height: 30px;
//     cursor: pointer;
//     margin-top: -58px;
//     margin-right: -30px;
// }
</style>