<template>
    <div class="timeline">

        <div class="start_date">{{ start_date }}</div>

        <div ref="line" class="line">
            <div v-for="date in dates" class="point">
                {{ date }}
            </div>
        </div>

        <div class="end_date">{{ end_date }}</div>
        <!-- {{ line_width }} -->
    </div>
</template>

<script setup>
import { ref, computed, onMounted } from 'vue'
const props = defineProps(['start_date', 'end_date', 'dates'])

const line = ref(null)
const line_width = ref(0)


onMounted(() => {

    line.value.addEventListener('resize' , () => {
        console.log(123)
    })

    const style = getComputedStyle(line.value)
    line_width.value = parseFloat(style.width);
    // }
    // window.addEventListener('resize', () => {
    // console.log(123)
});

</script>

<style lang="scss" scoped>
.timeline {
    display: flex;
    align-items: center;
}
.line {
    border-bottom: 1px solid #FFFFFF80;
    display: flex;
    flex-grow: 1;
    margin-right: 1rem;
}
.start_date, .end_date {
    font-size: 30.5px;
    font-weight: 600;
    text-align: left;
    -webkit-text-stroke: 0.8px #FFFFFF; /* Толщина и цвет обводки */
    text-stroke: 0.8px #FFFFFF; /* Толщина и цвет обводки (стандартное свойство) */
    color: transparent;
}
.point {
    position: absolute;
}
</style>