* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'TT Firs Neue';
}
html {
    font-size: 16px;
}
body {
    background: linear-gradient(127.95deg, #000088 2.54%, #05053E 72.69%);
    background-repeat: no-repeat;
}
#app {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
