@font-face {
    font-family: 'TT Firs Neue';
    font-weight: normal;
    font-style: normal;
    src: 
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Regular.woff2'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Regular.woff'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Regular.ttf'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Regular.eot');
}
@font-face {
    font-family: 'TT Firs Neue';
    font-weight: bold;
    font-style: normal;
    src: 
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Bold.woff2'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Bold.woff'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Bold.ttf'),
        url('src/assets/fonts/TT Firs Neue/TTFirsNeue-Bold.eot');
}